p, h2 {
  font-family: Futura;
  color: grey; 
} 

h2 {
  font-size: 30px; 
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 20px;
} 

p {
  font-size: 16px;
  line-height: 28px;
  margin: 24px 0 24px; 
}

.wrapper {
  width: 90%;
  margin: auto; 
}

/*Changed from .row .col b/c of odd transition between .col-xs & .col-sm*/
.row .col-xs-12, .row .col-md-6, .row .col-lg-4 {
  cursor: pointer;
  padding: 2.5px 3px;
}

.paddingDiv {
  border-radius: 25px;
  border: 5px solid black;
  height: 100%;
}

.row .paddingDiv:hover {
  background-color: grey;
  margin: 0px;
}

.row .paddingDiv:hover .title
{
  color: black; 
}

.row .title {
  font-size: 20px;
  text-align: center;
  margin: 20px 15px 15px 15px;
  font-weight: bold;
  color: grey; 
}  