h1, h2, h3, p {
  font-family: futura;
  color: grey; 
} 

/*Changed from .row .col b/c of odd transition between .col-xs & .col-sm*/
.row .col-xs-12, .row .col-md-6, .row .col-lg-4 {
  cursor: pointer;
  padding: 2.5px 3px;
}

.paddingDiv {
  border-radius: 25px;
  border: 5px solid black;
  height: 100%;
}

.paddingDiv:focus {
  outline: 0;
  background-color: black;
}

.row .paddingDiv:hover {
  background-color: grey;
  margin: 0px;
}

.row .paddingDiv:hover .title
{
  color: black; 
}